body
	{
		background-color:#ffffe5;
		overflow-x:hidden;
	}


.nav>li>a:hover {
background-color:#428BCA;
}

.nav>li>a:focus {
    background-color: black;
}
.gap{
	margin-top: 70px;
}
.container{
	padding: 0px !important;
}
.align_center{
		margin:auto;
	}
.carousel-indicators {

			display: inline;
			width:auto;
			height:auto;
			margin:auto;
			padding:0.3%;
		}

		 .navbar-brand p{
			font-size: 20px;


		}



		.title{

			font-size: 23px;
			color:#ffffff;
				margin: 0;
			padding: 0;
		}

		/*scroll bar*/

        ::-webkit-scrollbar {
			width: 0.7em;
			height:0.8em;
		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}

		::-webkit-scrollbar-thumb {
			background-color: #000033;
			outline: none;

		}
		/*======*/


		.panel > h3 {
			text-align: center;
		}

		body {
			overflow-x:hidden;

		}

		header {
			position: absolute;
		}

		.panel-body {
			overflow-x: auto;
			display: block;
			margin:auto;
		}

		.more > .btn {
			width:10%;
		}



		.item  {
			display: none;
		}

		.alter2 {
			background-color: #000033;
			color:white;
		}

		.alter1 {
			background-color: #ffffe5;
		}

		img, section, footer, .navbar {
			box-shadow: 0px 0px 7px black;
			-webkit-box-shadow: 0px 0px 7px black;
			-moz-box-shadow: 0px 0px 7px black;
		}

		.alter2  img {
			box-shadow: 0px 0px 7px white;
			-webkit-box-shadow: 0px 0px 7px white;
			-moz-box-shadow:0px 0px 7px white;
		}
		.alter2 .btn   {
			box-shadow: 0px 0px 7px white;
			-webkit-box-shadow: 0px 0px 7px white;
			-moz-box-shadow:0px 0px 7px white;
		}

		.btn, .more  {
				box-shadow: 0px 0px 7px black;
			-webkit-box-shadow: 0px 0px 7px black;
			-moz-box-shadow: 0px 0px 7px black
		}

		#footer {
			text-align:center;
			background-color:#ffffe5;
			color:#333;
			font-weight: 600;
		}

		#footer a {
			color:#333;
			font-weight:600;
		}

		#footer a:hover {
			color:#000033;
			font-weight: 1000;
		}

		.alter1 p{
			font-weight:700;
		}


		#part2, #part3 {
			display: none;
		}

		#sitemap {
			display: none;
		}

		#map-toggle {
			cursor: pointer;
		}


		.link {
		border:2px solid black;
		padding:2%;
	}

	.link:hover {
		border:2px solid blue;
		padding:2%;
	}


	.mob-align {
		display: flex;
		margin-top:-30px;
	}

	#slide {
		margin-top:-69px;
	}

	#slide img {
		height:600px;
		width:100%;
	}

	#slide .carousel .item {
 		background-size:contain;
    	width: 100%;
		height:100%;
 	}

	 .top {
		margin-top:-69px;
	}

	.style {


	}

	#sitemap {
		padding:2%;
	}

	#sitemap li{
		list-style-type: none;
		border:2px solid blue;
		padding:1%;
		font-weight: 600;
		text-align: center;
	}

	#sitemap h3 {
		font-weight: 600;
	}

	#sitemap a:hover {
		color:blue;
		background-color:azure;
	}

	.boxed {
		color:white;
		background-color:rgba(0,0,0,0.5);
	}
	.modal .panel {
		border:2px dashed blue;
		padding-top:3%;
		font-weight:700;

	}
	.modal ul {
		list-style-type:square;
	}
	.modal {
		background-color:#9cb1b4;
		box-shadow: 0px 0px 7px #000033;

	}
#play_list img{
	width:71%;
	height:88%;
}

	.overlay:hover {
		background-color:rgba(0,0,0,0.7);
		border:none;
	}

	.preview {
		background-color: rgba(40,30,21,0.5);
		border:0;

		border-radius: 100%;
	}
	@media screen and (max-width: 553px) {
		.align-mob {
        display: flex;
		margin-right:15%;
		margin-left:35%;

    }
}
